@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model WidgetsDemo.Models.AppInfoModel
<div class="card shadow-sm p-3 mb-3">
    <h5>@Localizer["App Info"]</h5>
    <ul>
        <li>@Localizer["App Version"]: @Model.AppVersion</li>
        <li>@Localizer["Last Deployment"]: @Model.LastDeployment.ToLocalTime()</li>
        <li>@Localizer["CPU Usage"]: @Model.CpuUsage.ToString("F2") %</li>
        <li>@Localizer["Memory Usage"]: @Model.MemoryUsageMB.ToString("F1") MB</li>
        <li>@Localizer["Process Count"]: @Model.ProcessCount</li>
    </ul>
    <div class="mt-3">
        <strong>@Localizer["API statuses"]:</strong>
        <p><em>@Localizer["Coming soon..."]</em></p>
    </div>
    <a href="/logs" target="_blank" class="btn btn-link">@Localizer["View Logs"]</a>
</div>
